*
{
    transition: all 0.2s ease-in-out;
}
body
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
}
main
{
    width: 100vw;
    height: 90vh;
    background:url('./assets/images/netflix-bg-image.jpg');
    border-bottom: 10px solid rgb(59, 49, 49);
    background-repeat: no-repeat;
    background-position: center center;
    
}
.box
{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
}
nav
{
    width: 100%;
    height: 15vh;
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 100px;
    flex-wrap:wrap ;

}
nav .logo-image img
{
    width: 180px;
}

.lang-sign
{
    /* width: 20vw; */
    /* background: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
   
}
.lang-sign button
{
    padding: 10px 30px;
    outline: none;
    background: red;
    border:none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    opacity: 1;
}
.lang-sign button:hover
{
    background: rgb(167, 43, 43);
}
.lang-logo
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(137, 128, 128);
    padding: 5px 10px;
    border-radius: 5px;
}
.lang-sign .lang-logo img
{
    width: 25px;
}
.lang-sign .lang-logo select
{
    padding: 5px 10px;
    outline: none;
    border: none;
    background: transparent;
    color: white;
}
.lang-sign .lang-logo select option
{
   /* padding: 5px; */
    color: black;
    /* margin: 5px; */
}

/* main-content div start from here */

.main-content
{
    width: 90%;
    /* height: 75vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    flex-direction: column;
    color: white;
    flex-wrap: wrap;
    padding: 130px 0;
    margin: auto;
    /* border-bottom: 10px solid rgb(59, 49, 49); */
   
}
 .main-content h1
 {
    font-size: 55px;
    font-weight: 900;
    font-family: sans-serif;
 }
 .main-content h4
 {
    font-size: 30px;
    margin-top: -20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .main-content h5
 {
    font-size: 25px;
    margin-top: -20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
.main-content .input-btn img
{
    width: 18px;
    color:white
}
.input-btn
{
    width: 70%;
    padding: 10px;
    /* background: red; */
}

.input-btn input
{
    padding: 20px 20px;
    width: 25vw;
    outline: none;
    border: 2px solid red;
    background: transparent;
    color: grey;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
}
.input-btn button
{
    padding: 20px 30px;
    text-align: center;
    font-size: 20px;
     border:none;
     border-radius: 5px;
     margin: 0px 10px;
     background: red;
     color:white;
}

.input-btn button:hover
{
    background: rgb(167, 43, 43);
}

/* smarttv dic start from here */

.smartTv
{
    padding: 130px 0;
    width:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align:justify;
    background: black;
    color: white;
    font-size: 30px;
    font-weight:700;
    gap: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    border-bottom: 10px solid rgb(59, 49, 49);
}
.smartTv .tvimage
{
    background: url('https://d3pc1xvrcw35tl.cloudfront.net/images/686x514/lust-stories-netflix_201811153930.jpeg');
    background-position: center;
    background-repeat: no-repeat;
}
.smartTv .tvimage img
{
    width: 450px;
}


/* down-show div start from here */
.down-show
{
    width: 100%;
    /* height: 60vh; */
    background: black;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding: 40px 0px;
    position: relative;
    flex-wrap: wrap;
    border-bottom: 10px solid rgb(59, 49, 49);
    padding: 130px 0;

}

.mobile-image
{
    position: relative;
    /* width: 40%; */
}
 .text-box
{
    position: absolute;
    width: 300px;
    /* background: red; */
    z-index: 1;
    height:100px;
    border-radius: 10px;
    border: 2px solid grey;
    top: 300px;
    left: 130px;
    display: flex;
    justify-content:space-between;
    padding:0px 10px;
    gap: 10px;
    align-items: center;
    text-align: center;
    background: black;
    border-bottom: 10px solid rgb(59, 49, 49);
}
.text-box img:nth-child(1)
{
    width: 60px;
}
.text-box .gift
{
    width: 50px;
}
.text-box .st-text
{
    font-size: 17px;
}
.text-box .st-text span
{
    color: blue;
    cursor: pointer;
}


.down-show .download-text h1
{
    font-size: 70px;
    font-weight: 900;
}
.down-show .download-text p
{
    font-size: 25px;
    font-weight: 300;
}


/* watch-video div start from here */
.watch-video
{
    width: 100%;
    display: flex;
    justify-content:center;
    gap: 50px;
    align-items: center;
    text-align: justify;
    flex-wrap: wrap;
    color: white;
    font-size: 30px;
    border-bottom: 10px solid rgb(59, 49, 49);
    padding: 170px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.video{
    width: 500px;
    height: 300px;
    background: url('./assets/images/lcd.png');
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    /* background-clip: text; */
}
.video video
{
    width: 70%;
    margin-left: 75px;
    /* border: 5px solid lightgray; */
    /* background-clip: text; */
    border-radius: 5px;
}

/* profile-kid div start from here */
.profile-kid
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:justify ;
    gap: 20px;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 100px 0px;
    flex-wrap: wrap;
    border-bottom: 10px solid rgb(59, 49, 49);
}
.profile-kid .profile-content p
{
    width: 500px;
}



/* faq div start from here */
.faq
{
    width: 100%;
    padding: 20px 0px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* gap: 5px; */
}
.faq h1
{
    font-size: 60px;
}
.questions
{
    width: 70%;
    margin: auto;
    background: rgb(48, 47, 47);
    padding: 5px 10px;
    font-size: 18px;
  transition: all 0.3s ease-in-out;
  height: 10vh;
  gap: 10px;
  margin: 5px 0px;
  border-bottom: 2px solid grey;
/* position: relative; */
}
.questions:hover
{
    height: 40vh;
}
.questions:hover .q-ans
{
    opacity: 1;
    transition-delay: 0.2s;
    
}
.q-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.questions:hover .q-text h3
{
    transform: rotate(50deg);
}
.q-text h3
{
    font-size: 40px;
}

.questions .q-ans
{
    opacity: 0;
    
}
.questions .q-ans p
{
    font-size: 25px;
}
/* media query start from here */

@media screen and (max-width:700px) {
    nav
    {
        justify-content:center; 
          gap: 10px;
          /* height: 15vh; */
          /* background: blue; */
    } 
    nav .logo-image img
    {
        width: 130px;
    }  
    .lang-sign
    {
        gap: 20px;
    }
  
/* main-content div start from here */
.main-content
{
    padding: 100px 0px 10px 0px; 
}
.main-content h1
{
   font-size: 20px;
   margin: 5px;
}
.main-content h4
{
   font-size: 15px;
   margin: 10px;
}
.main-content h5
{
   font-size: 15px;
   margin: 10px;
}
.input-btn input
{
    width: 80%;
    font-size: 12px;
    margin:auto;
}
.input-btn button
{
    font-size: 17px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    padding: 20px 30px;
}

.smartTv
{
    font-size: 17px; 
    text-align:center; 
    gap: 30px;
    padding: 70px 0;
}
.texttv
{
width: 80%;
font-size: 14px;
margin-top: 20px;
}
.smartTv .tvimage img
{
    width: 300px;   
}

.mobile-image .mb-image
{
width:400px;
}

.down-show
{
    text-align:center;  
    gap: 30px;
}
.text-box
{
    width: 240px;
    left: 80px;
    top: 190px;
}

.down-show .download-text h1
{
    font-size: 40px;
    font-weight: 700;
}
.down-show .download-text p
{
    font-size: 17px;
    font-weight: 300;
}


.watch-video
{
    justify-content: center;
    font-size: 17px;
    text-align: center;
    padding: 100px 0;
}
.video-content
{
    margin-bottom: 30px;
}
.video{
    width: 300px;
    height: 200px; 
    background-position: center center;
}
.video video
{
    width: 100%;
    height: 70%;
   margin: auto;
    /* border: 5px solid lightgray; */
    /* background-clip: text; */
    border-radius: 5px;
}


.profile-kid
{
    width: 100%;
    text-align:center; 
    font-size: 20px;
}
.profile-kid .profile-content p
{
    width: 100%;
}
.profile-kid .children-image img
{
width: 100%;
}

/* faq div start from here */
.faq
{
    text-align: center;
}
.faq h1
{
    font-size: 20px;  
}
.questions
{
    width: 90%; 
    padding: 0px 5px;
    height: 14vh;

}
.questions p
{
    font-size: 14px;
}
.questions h2
{
    font-size: 20px;
}
.questions:hover
{
    height: 65vh;
}
.questions .q-ans p
{
    font-size: 20px;
}
}
